.assemblies-list__card {
    cursor: pointer;
}

.assemblies-list__card__td__id_fixed-width {
    width: 10%;
}

.assemblies__card__td__name_fixed-width {
    width: 30%;
}

.assemblies__card__td__auto-date_fixed-width {
    width: 20%;
}

.assemblies__card__td__user_fixed_width {
    width: 25%;
}

.assemblies__card__td__count_fixed_width {
    width: 15%;
}
