.edit-product-button {
}

.product-buttons-container {

}

.btn-primary {
    font-size: 17px;
    height: 40px;
    min-width: 150px;
    font-weight: 300;
    border: none;
    color: white;
    transition: 0.2s linear;
    background-color: #134f7c;
}

.btn-primary:hover {
    background-color: whitesmoke;
    color: black;
}

.btn {
    font-size: 17px;
    font-weight: 300;
}

h3 {
    font-weight: 300;
}

.col-4 {
    border: 1px solid #134f7c;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    text-align: center;
    margin-top: 30px;
}

.col-8 {
    margin-top: 30px;
    text-align: left;
    background-color: #f2ffee
}

.product-stocks-title {
    margin-left: 15px;
}


button {
    font-size: 17px;
    height: 40px;
    min-width: 150px;
    font-weight: 300;
    border: none;
    color: white;
    transition: 0.2s linear;
    margin-bottom: 5px;
    background-color: #134f7c;
}

button:hover {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

.product-buttons-container button:first-child {
}
