.no-image-text {
    margin: 20px auto;
}

.item-images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20%;
    margin-left: 100%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform .1s;
}

.main-images-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    margin-bottom: 280px;
    text-align: center;
}

.main-images-container h3 {
    font-size: 25px;
}

.main-images-container p {
    font-weight: bold;
}

.main-images-container h6 {
}

.main-items-image {
    cursor: pointer;
    margin-bottom: 250px;
}

.arrow {
    width: 3vmin;
    height: 3vmin;
    cursor: pointer;
    border-top: 5px solid #243b77;
    border-right: 5px solid #243b77;
    box-shadow: 0 0 0 lightgray;
    transition: all 300ms ease;
    margin-top: 20px;
}

.item-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.item-page-main-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.item-page-dop-info {
    width: 50%;
}

.edit-buttons-container-for-item-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}

.edit-button-for-item-page img{
    width: 20px;
    height: 20px;
    filter: invert(1);
    margin-right: 5px;
}

.edit-button-for-item-page:hover img {
    filter: none;
}

.edit-button-for-item-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #243b77;
    color: white;
    min-height: 30px;
    margin-right: 50px;
    padding: 15px;
    border-radius: 7px;
    border: none;
    width: 200px;
    outline: none;
}

.edit-button-for-item-page:hover {
    background-color: lightgray;
    color: #243b77;
}

.item-page-dop-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 30px;
}

.arrow.left {
    transform: translate3d(0,-50%,0) rotate(-135deg);
}

.arrow.right {
    transform: translate3d(0,-50%,0) rotate(45deg);
}

.arrow:hover {
    /*border-color: orange;*/
    box-shadow: 3px -3px 0 lightgray;
}

.arrow:before { // for better hit area
content: '';
    transform: translate(-40%,-60%) rotate(45deg);
    width: 200%;
    height: 200%;
}

.images-container {
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.item-image {
    height: 140px;
    width: 175px;
    text-align: center;
    overflow-x: hidden;
    cursor: pointer;
}

.images-container img {
    height: 100%;
}

.item-stocks {
    margin-top: 30px;
}

.item-images-container button {
    width: 100px;
}

.item-stocks-table {
    width: 715px;
    table-layout: fixed;
    border-collapse: collapse;
}

.item-stocks-table tbody {
    border: 0.5px solid gray;
}

.item-stocks-table thead tr {
    height: 30px;
}

.item-stocks-table thead {
    border: 1.5px solid #243b77;
}

.item-stocks-table thead th:nth-child(1) {
    width: 30%;
}

.item-stocks-table thead th:nth-child(2) {
    width: 20%;
}

.item-stocks-table thead th:nth-child(3) {
    width: 15%;
}

.item-stocks-table thead th:nth-child(4) {
    width: 35%;
}

.item-stocks-table th {
    padding: 20px;
    border-left: 1px solid white;
}

.item-stocks-table th:first-child {
    border-left: 1px solid black;
}

.item-stocks-table td {
    padding: 20px;
    border-left: 1px solid black;
}

.item-stocks-table th {
    letter-spacing: 2px;
}

.item-stocks-table td {
    letter-spacing: 1px;
    text-align: center;
    border-top: 0.5px solid gray;
}

.item-stocks-table tfoot th {
    text-align: right;
}

.item-stocks-table thead th, tfoot th, tfoot td {
    background: #16244a;
    color: white;
    font-weight: 300;
}

@media screen and (max-width: 724px) {
    .item-page-main-info {flex-direction: column; margin-bottom: 120px; width: 100%}
    .item-images-container {margin-top: 90px}
    .main-images-container {width: 100%; margin-bottom: 240px; font-size: 20px}
    .edit-buttons-container-for-item-page {margin-bottom: 15px; flex-wrap: wrap; width: 100%}
    .edit-button-for-item-page {margin-top: 20px; width: 100%}
    .item-page-container {padding: 0}
    .item-page-dop-info {margin-left:0}
    .item-stocks-table {width:100%}
    .item-stocks-table thead {display: none}
    .item-stocks-table tbody tr {display: flex; flex-direction: column}
    .item-stocks-table tbody tr td {border-bottom: 1px solid gray}
    .item-stocks-table tbody tr td:first-child {background-color: #243b77; color: white; border-bottom: none}
}

@media screen and (max-width: 800px){
    .main-images-container {width: 320px}
    .main-images-container h3 {font-size: 20px}
    .edit-buttons-container-for-item-page {flex-wrap: wrap}
    .item-images-container {margin-top: 100px}
    .edit-button-for-item-page {margin-bottom: 15px; width: 100%;}
}

@media screen and (max-width: 1200px) {
    .item-page-main-info {margin-bottom: 60px}
    .edit-buttons-container-for-item-page {flex-wrap: wrap}
    .edit-button-for-item-page {margin-bottom: 15px}
}




