.suppliers-list__card {
  cursor: pointer;
}

.suppliers-list__card__td__id_fixed-width {
  width: 10%;
}

.suppliers-list__card__td__name_fixed-width {
  width: 30%;
}

.suppliers-list__card__td__address_fixed-width {
  width: 30%;
}

.suppliers-list__card__td__comment_fixed-width {
  width: 30%;
}
