.main-page {
  height: calc(100vh - 100px);
  overflow: auto;
}

.dialog {
  /*height: 400px;*/
  height: 70%;
  /*overflow: auto;*/
  /*margin-right: 1px;*/
}

.pre-loader-container {
  margin-top: calc(50vh - 85px);
}

.name-column{
  width: 70%;
}
.phone-column{
  min-width: 15%;
}

.negative-balance {
  width: 70%;
  background-color: rgba(240,23,0,0.56);
}
