.item-history-table-container {

}

@media screen and (max-width: 790px){
    .item-history-table-container table {
        border: 0;
    }
    .item-history-table-container table thead {
        display: none;
    }
    .item-history-table-container table tr {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid #ddd;
    }
    .item-history-table-container table td {
        display: block;
        text-align: left;
        font-size: 15px;
    }
    .item-history-table-container table td:first-child {
        background-color: lightgray;
    }
    .item-history-table-container table td:before {
        content: attr(data-label);
        font-weight: bold;
    }
}