.count-input {
    width: 60px;
}

.del-button {
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    float: left;
    font-weight: bolder;
    background: silver;
    border-radius: 50%;
    width: 1em;
}

.number-block {
    min-width: 30px;
}

.input-count {
    min-width: 90px;
}