.main-page {
  height: calc(100vh - 100px);
  overflow: auto;
}

.dialog {
  height: 400px;
  width: 400px;
  overflow: auto;
  margin-right: 1px;
}

.pre-loader-container {
  margin-top: calc(50vh - 85px);
}
